@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black") local("Lato Black") url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Black";
  src: local("Lato-Regular") local("Lato Regular") url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.header {
  background-color: #262D33;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}

.search-form {
  position: relative;
  width: 270px;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
}

.search-form input::-webkit-input-placeholder {
  color: #939699;
}

.search-form input:-ms-input-placeholder {
  color: #939699;
}

.search-form input::-ms-input-placeholder {
  color: #939699;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 40px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.home {
  background-color: #E5E5E5;
}

.front-page-header {
  padding-top: 30px;
  background-color: #262D33;
  position: relative;
  height: 470px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  min-height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .left::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.35);
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.hero .left .author {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-categories {
  padding: 0;
  margin: 0;
}

.hero .left .post-categories a {
  color: #4592FF;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .left .post-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

.hero .left .post-text {
  z-index: 2;
  position: relative;
}

.hero .right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.hero .right .recommend {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid	#D9DADB;
  min-height: 100px;
}

.hero .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.hero .post:hover {
  background-color: #F5F5F5;
}

.hero .post-title {
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 8px;
}

.more {
  display: inline-block;
  color: #ffffff;
  padding: 10px 20px;
  padding-right: 50px;
  background: #4592FF;
  border-radius: 20px;
  text-decoration: none;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.more:visited, .more:focus, .more:hover {
  color: #fff;
}

.article-list {
  margin: 0;
  margin-top: 180px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background-color: #4B5157;
  display: block;
}

.article-thumb {
  width: 65px;
  height: 65px;
}

.article-permalink {
  text-decoration: none;
  color: #ffffff;
  width: 150px;
}

.article-permalink:hover {
  color: #ffffff;
}

.article-permalink:visited {
  color: #ffffff;
}

.article-title {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-grid {
  max-width: 850px;
  margin: 30px 0 60px;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: minmax(min-content, max-content) minmax(200px, max-content) minmax(200px, max-content);
      grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(200px, -webkit-max-content) minmax(200px, -webkit-max-content);
      grid-template-rows: minmax(min-content, max-content) minmax(200px, max-content) minmax(200px, max-content);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-permalink:hover {
  color: #262D33;
}

.article-grid-permalink:visited {
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 53px 35px;
  position: relative;
  overflow: hidden;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-thumb {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-grid-item-1 .article-grid-title {
  width: 60%;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.article-grid-item-1 .article-grid-excerpt {
  font-size: 14px;
  line-height: 20px;
  width: 60%;
  margin-bottom: 40px;
}

.article-grid-item-1 .article-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-grid-item-1 .article-grid-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  max-width: 390px;
  white-space: nowrap;
  overflow: hidden;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-1 .article-grid-info .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .comments-counter {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}

.article-grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  position: absolute;
  z-index: 0;
  content: '';
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 23px;
  margin-bottom: 27px;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  margin-top: auto;
  color: #E7D9FF;
  font-family: 'Lato Black', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.article-grid-item-2 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .author-info {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
}

.article-grid-item-2 .author-avatar {
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .date:not(:last-child), .article-grid-item-2 .comments:not(:last-child), .article-grid-item-2 .likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
}

.article-grid-item-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-grid-thumb {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 25px 35px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.article-grid-item-default {
  position: relative;
}

.article-grid-item-default .article-grid-permalink {
  padding: 25px 25px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 5px;
}

.article-grid-item-default .article-grid-excerpt {
  margin: 0;
  margin-bottom: auto;
}

.sidebar-front-page {
  margin-left: 30px;
  margin-top: 30px;
}

.widget {
  max-width: 263px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
}

.widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}

.widget-downloader {
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #ffffff;
  padding: 25px;
  padding-bottom: 55px;
  position: relative;
}

.widget-downloader .widget-title {
  margin-top: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  padding: 0;
  text-transform: none;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-downloader .description {
  color: #C1F4F5;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.widget .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 35px;
}

.widget .tag-cloud-link {
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 15px;
  line-height: 20px;
  color: #262D33;
}

.widget-socialNetworks {
  padding-bottom: 40px;
}

.widget-socialNetworks .widget-title {
  border: none;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  text-transform: none;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.widget-socialNetworks .widget-link {
  text-decoration: none;
}

.widget-socialNetworks .widget-facebook-icon {
  margin-left: 33px;
}

.widget-socialNetworks .widget-twitter-icon {
  margin-right: 20px;
  margin-left: 20px;
}

.investigation {
  padding: 50px 55px;
  text-align: center;
  margin-bottom: 20px;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  max-width: 946px;
  margin: 0 auto 25px;
}

.article-column {
  border-radius: 10px;
  padding: 0;
  margin: 0;
  width: 850px;
  overflow: hidden;
  margin-bottom: 10px;
}

.article-column-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  border-bottom: 1px solid #D9DADB;
}

.article-column-item {
  padding: 25px 25Px 0 25px;
  list-style: none;
  background-color: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-column-title {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
}

.article-column-thumb {
  width: 336px;
  height: 195px;
  margin-right: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.article-column-excerpt {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
}

.article-column-permalink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: #262D33;
}

.article-column-permalink:hover {
  color: #262D33;
}

.article-column-permalink:visited {
  color: #262D33;
}

.article-column .bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-column-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-column .comments-icon {
  margin-left: 5px;
}

.article-column .comments-counter {
  margin-left: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-column .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #939699;
  margin-left: 10px;
  margin-right: 10px;
  ont-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.article-column .date, .article-column .likes {
  color: #939699;
  ont-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.tag {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
