.main
	&-column
		display: flex
		justify-content: space-between
		align-items: flex-start
		// border: 1px solid red
.article
	&-column
		border-radius: 10px
		padding: 0
		margin: 0
		width: 850px
		overflow: hidden
		margin-bottom: 10px
		margin-top: 30px

		&-border
			display: flex
			padding-bottom: 25px
			border-bottom: 1px solid #D9DADB
		&-item
			// border: 1px solid red
			// display: flex
			padding: 25px 25Px 0 25px
			list-style: none
			background-color: #fff
			justify-content: space-between
		&-title
			margin: 0
			font-family: Roboto Slab
			font-style: normal
			font-weight: bold
			font-size: 20px
			line-height: 25px
			color: #262D33
		&-thumb
			width: 336px
			height: 195px
			margin-right: 25px
			flex: 0 0 auto
		&-excerpt
			font-family: Lato
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 20px
			color: #4B5157
		&-permalink
			display: flex
			flex-direction: column
			justify-content: space-between
			text-decoration: none
			color: #262D33
			&:hover
				color: #262D33
			&:visited
				color: #262D33
		.bookmark
			display: flex
			justify-content: space-between
		&-info
			display: flex
		.comments
			// display: flex
			// align-items: center
			&-icon
				margin-left: 5px
			&-counter
				margin-left: 5px
				font-family: Lato
				font-style: normal
				font-weight: normal
				font-size: 12px
				line-height: 15px
		.comments
			display: flex
			align-items: center
			color: #939699
			// opacity: 0.4
			margin-left: 10px
			margin-right: 10px
			ont-family: Lato
			font-style: normal
			font-weight: normal
			font-size: 12px
			line-height: 15px
		.date, .likes
			color: #939699
			// align-items: center
			// opacity: 0.4
			// margin-left: 10px
			ont-family: Lato
			font-style: normal
			font-weight: normal
			font-size: 12px
			line-height: 15px
.tag
	font-family: Lato
	font-style: normal
	font-weight: 900
	font-size: 12px
	line-height: 15px
	text-transform: uppercase
	&-горячее
		color: #FF4F52
	&-подборки
		color: #AC8EE3
	&-новости
		color: #4592FF
	&-мнение
		color: #3BBDC4
