.hero
	border: 1px solid red
	display: flex
	overflow: hidden
	border-radius: 10px
	.left
		flex-basis: 75%
		position: relative
		padding: 55px 55px 100px 55px
		min-height: 570px
		display: flex
		flex-direction: column
		justify-content: space-between
		&::after
			content: ""
			position: absolute
			z-index: -1
			width: 100%
			height: 100%
			left: 0
			top: 0
			background-color: rgba(#40303D, 0.35)
		.post-thumb
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			z-index: -2
		.author
			display: flex
			align-items: center
			text-decoration: none
			&-bio
				margin-left: 10px
			&-name
				display: block
				font-size: 14px
				line-height: 20px
				color: rgba(#fff, 0.85)
			&-rank
				color: rgba(#fff, 0.4)
		.avatar
			width: 45px
			height: 45px
			border-radius: 50%
		.category-name
			color: #4592FF
			font-weight: 900
			font-size: 12px
			line-height: 15px
			text-transform: uppercase
			text-decoration: none
		.post
			&-title
				font-weight: bold
				font-size: 40px
				line-height: 50px
				color: #ffffff
				font-family: 'Roboto Slab', serif
				margin-top: 20px
				margin-bottom: 50px
		.more
			display: inline-block
			color: #ffffff
			padding: 10px 20px
			padding-right: 50px
			background: #4592FF
			border-radius: 20px
			text-decoration: none
			background-image: url('../images/arrow.svg')
			background-repeat: no-repeat
			background-position: center right 20px
	.right
		flex-basis: 25%
